.battle_change {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  pointer-events: none;
  z-index: 9999;
}

.bc_cell {
  background: #000;
  transform: scale(0);
  transform-origin: center;
}
